<!--user=@user-->
<h2>User info</h2>
<%= image_tag user.get_profile_image(100,100) %>
<table class="table">
 <tbody>

  <tr></tr>
  <!--何もない表記-->

  <tr>
   <th>name</th>
   <th><%= user.name %></th>
  </tr>

  <tr>
   <th>introduction</th>
   <th><%= user.introduction %></th>
  </tr>

 </tbody>
</table>

<!--ボタン(少し大きめに作るためrowに入れる)-->
<!--<div class="row">-->
<%= link_to edit_user_path(user) ,class:"btn btn-outline-secondary btn-block" do %>
<i class="fas fa-user-cog"></i>
<%end%>
<!--</div>-->





