




<div>
 <p id="notice"></p>
 <h2>New book</h2>




    <%= form_with model: book do |f| %>
   <!--<div class="input-group mb-3 mt-4">-->
     <div class="input-group-prepend">

     <!--<span class="input-group-text" aria-hidden="true"><i class="fas fa-building"></i></span>-->
     </div>

      <label>Title</lavbl>
      <%= f.text_field :title, class:"form-control" %>
   <!--</div>-->

     <label>Opinion</lavbl>
      <%= f.text_area :body,class:"form-control",rows:"2"%>
      <!--%= f.submit 'Create Book',class:"btn btn-md btn-block btn-info mt-4" %>-->
     <% end %>

      <br>
   <button type="submit" class="btn btn-primary">Create Book</button>
</div>









